/* Colors */
.c-primary {
  color: var(--hh-color-brand-primary);
}

.c-secondary {
  color: var(--hh-color-brand-secondary);
}

.c-tertiary {
  color: var(--hh-color-brand-tertiary);
}

.c-night {
  color: var(--hh-color-night);
}

.c-day {
  color: var(--hh-color-day);
}

.c-subdued {
  color: var(--hh-color-subdued);
}

.c-neutral {
  color: var(--hh-color-neutral);
}

.c-success {
  color: var(--hh-color-success);
}

.c-danger {
  color: var(--hh-color-danger);
}

.c-light {
  color: var(--hh-color-light);
}

.c-foreground {
  color: var(--hh-color-foreground);
}

.c-text {
  color: var(--hh-color-text);
}

.c-inherit {
  color: inherit;
}

/* Background Colors */
.bg-primary {
  background-color: var(--hh-color-brand-primary);
}

.bg-secondary {
  background-color: var(--hh-color-brand-secondary);
}

.bg-tertiary {
  background-color: var(--hh-color-brand-tertiary);
}

.bg-day {
  background-color: var(--hh-color-day);
}

.bg-night {
  background-color: var(--hh-color-night);
}

.bg-subdued {
  background-color: var(--hh-color-subdued);
}

.bg-neutral {
  background-color: var(--hh-color-neutral);
}

.bg-light {
  background-color: var(--hh-color-light);
}

.bg-background {
  background-color: var(--hh-color-background);
}
