.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 35px;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 70px;
  }

  .container--narrow {
    padding: 0 9rem;
  }
}

@media screen and (min-width: 990px) {
  .container--narrow {
    max-width: 72.6rem;
    padding: 0;
  }
}
