{% render 'async-stylesheet', url: 'section-main-page.css' %}
{% render 'async-stylesheet', url: 'component-rte.css' %}

<div class="container container--narrow">
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
