<div class="container center spaced-section">
  <p class="utility">{{ 'templates.404.subtext' | t }}</p>
  <h1 class="h4 mv0">{{ 'templates.404.title' | t }}</h1>
  <hh-button theme="tertiary" href="{{ routes.all_products_collection_url }}">
    {{ 'general.continue_shopping' | t }}
  </hh-button>
</div>
