*:focus-visible {
  outline: 0.2rem solid var(--hh-color-focus);
  outline-offset: var(--hh-focus-outline-offset);
}

input:focus-visible {
  outline-offset: 0;
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
*:focus {
  outline: 0.2rem solid var(--hh-color-focus);
  outline-offset: var(--hh-focus-outline-offset);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
*:focus:not(:focus-visible) {
  outline: 0;
  border: 0;
  box-shadow: none;
}

.focus-inset:focus-visible {
  outline: 0.2rem solid var(--hh-color-focus);
  outline-offset: var(--hh-focus-outline-offset);
}

/* Fallback */
.focus-inset:focus {
  outline: 0.2rem solid var(--hh-color-focus);
  outline-offset: var(--hh-focus-outline-offset);
}

.focus-inset:focus:not(:focus-visible) {
  outline: 0;
  border: 0;
  box-shadow: none;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

/* Dangerous for a11y - Use with care */
.focus-none {
  box-shadow: none !important;
  outline: 0 !important;
}
