.block {
  display: block;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 749px) {
  .hidden--sm {
    display: none;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .hidden--md {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .hidden--lg {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visibility-hidden {
  visibility: hidden;
}

.overflow-hidden,
.overflow-hidden--sm,
.overflow-hidden--md {
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .overflow-hidden--sm {
    overflow: auto;
  }
}

@media screen and (min-width: 990px) {
  .overflow-hidden--md {
    overflow: auto;
  }
}

.relative {
  position: relative;
}

.border-top {
  border-top: 1px solid currentColor;
}

.border-bottom {
  border-bottom: 1px solid currentColor;
}

.pointer {
  cursor: pointer;
}

.zoom-in {
  cursor: zoom-in;
}

.pointer-none {
  pointer-events: none;
}

.rounded {
  border-radius: var(--hh-rounded, 5px);
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
  }
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.badge {
  font: var(--hh-body-font);
  border: 1px solid transparent;
  border-radius: 4rem;
  display: inline-block;
  padding: 0.6rem 1.3rem;
  text-align: center;
  background-color: var(--hh-color-background);
  color: var(--hh-color-foreground);
  word-break: break-word;
}

.img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
